[Unit]
Description=Handle LedDev StdOut
ConditionExists=/dev/ttyUSB0

[Service]
Type=simple
ExecStartPre=/usr/bin/sudo /bin/stty -F /dev/ttyUSB0 57600 raw min 1 time 1 brkint
ExecStart=/bin/cat /dev/ttyUSB0
StandardOutput=null
ExecStartPost=/bin/sh -c "echo -n 010 >/dev/ttyUSB0"

