[Unit]
Description=peridically shot timelapse images
Requires=catleddev.service
After=catleddev.service

[Timer]
OnStartupSec=1min
OnUnitActiveSec=1min
