[Unit]
Description=peridically shot timelapse images
#Requires=catleddev.service
#After=catleddev.service

[Timer]
OnActiveSec=30s
OnUnitActiveSec=1min
