[Unit]
Description=Shot a timelapse image
ConditionFileIsExecutable=/home/ubuntu/websocktrigger

[Service]
Type=simple
ExecStart=/home/ubuntu/timelapse/record-frame_jpg-src.sh
