[Unit]
Description=Shot a timelapse image
ConditionFileIsExecutable=/home/ubuntu/websocktrigger
Requires=catleddev.service
After=catleddev.service

[Service]
Type=simple
ExecStart=/home/ubuntu/timelapse/record-frame_jpg-src.sh
