[Unit]
Description=Shot a timelapse image
ConditionFileIsExecutable=/home/ubuntu/websocktrigger

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/timelapse/
ExecStart=/home/ubuntu/timelapse/record-frame_jpeg-src.sh
