[Unit]
Description=Tell webclients about list of frames

[Service]
Type=simple
ExecStartPre=/bin/rm -f /run/updatetrigger.socket
ExecStart=/home/ubuntu/websockdaemon -imgpath /home/ubuntu/timelapse/timepics -socketpath /run/updatetrigger.socket
